*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width: 100vw; */
    background-color: black;
    font-family: 'Klee One', cursive;
    color: white;
}
/* logo */
.logo{
    width:130px;
    height:140px;
    margin: 3px 3px;
}
/* menu */

header nav{
    background-color:pink;
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
header nav ul{
    background-color:  red;
    display: flex;
    list-style-type: none;
    margin-right: 80px;
}

header nav ul li a{
    text-decoration: none;
    margin: 25px;
    font-size: 20px;
}
/* header{ 
    position: sticky;
    top: 0;
}*/

/* présentation salon */
.pres{
    /* position: center; */
    /* height: 60vh; */
    background-color: blueviolet;
    display: flex;
    margin: 30px;
    align-items: center;
}
.pres img{
    /* width: 300px; */
    height: 350px; 
    border-radius: 50px;
    padding: 15px 30px;
}
section h1{ 
    color: white;
    font-size: 40px;
    text-align: center;
}
.pres p{ 
    text-align: left;
    text-align:justify;
    /* padding: 30px;   */
}
/* equipe 
    #pres-equipe{ 
    padding: 25px; 
 } */
#pres-equipe h2{
    text-align: center;
    background-color: blanchedalmond;  
}
#pres-equipe img{
    height: 150px;
    width: 150px;
    border-radius: 25px;
    margin: 20px;
}
.container-equipe{
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}
.tattoo-artists {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* text-align: justify; */
   margin-right: 20px;
   width: 200px;
}   

.tattoo-artists p{
    text-align: center;

}









/* .tattoo-artists { */
    /*display: flex; */
    /* gap : 50px;  */
    /* padding: 20px; */
    /* justify-content: center;*/
/* } */

/* .tattoo-artist-1 h3{ */
    /* padding: 15px; */
/* } */
/* .galerie{ 
    display: flex;
}*/


.galerie h2{
    text-align: center;
}
.galerie .tableau-style{
    border-collapse: collapse;
    box-shadow: 15px 15px 30px rgba(221, 57, 202);
    margin: 100px auto;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

table{
    border-radius: 15px;
}


.galerie th, td{
    padding: 15px 20px;
}

footer{
padding: 15px 0;
background-color: bisque;
/* width: 100vw; */
text-align: center;
font-size: 15px;
}







   


